<div layout="row">
    <div flex="20">

    </div>
    <div flex="60">
        <md-card layout-align="center center">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Github Issue Tracker</span>
                </md-card-title-text>
            </md-card-title>
            <md-input-container>
                <label>Repository URL</label>
                <input ng-model="url">
            </md-input-container>
            <md-card-actions>
                <md-button class="md-primary md-raised" ng-click="getGitHubIssues(url)" aria-label="Search">
                    Track
                </md-button>
            </md-card-actions>
            Total Number of Issues : {{totalNumberOfIssues}}
            <md-divider></md-divider>
            Total Number of Issues created since last 24 hours : {{totalNumberOfIssuesLastDay}}
            <md-divider></md-divider>
            Total Number of Issues created since last 24 hours : {{totalNumberOfIssuesLastDay}}
            <md-divider></md-divider>
            Total Number of Issues created 7 days ago : {{totalNumberOfIssuesSevenDaysAgo}}
        </md-card>
    </div>
    <div flex="20">

    </div>
</div>
