<div layout="row">
    <div flex="20">

    </div>
    <div flex="60">
        <md-card layout-align="center center">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Github Issue Tracker</span>
                </md-card-title-text>
            </md-card-title>
            <md-input-container>
                <label>Repository URL</label>
                <input ng-model="url">
            </md-input-container>
            <md-card-actions>
                <md-button class="md-primary md-raised" ng-click="getGitHubIssues(url)" aria-label="Search">
                    Track
                </md-button>
            </md-card-actions>

            <md-card-content>


            <md-list>
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text" layout="column">
                        <h3>Total Number of Issues : {{totalNumberOfIssues}}</h3>
                    </div>
                </md-list-item>

                <md-list-item class="md-2-line">
                    <div class="md-list-item-text" layout="column">
                        <h3>Total Number of Issues opened in last 24 hours : {{totalNumberOfIssuesLastDay}}</h3>
                    </div>
                </md-list-item>

                <md-list-item class="md-2-line">
                    <div class="md-list-item-text" layout="column">
                        <h3>
                            Total Number of Issues created before 24 hours but NOT before 7 days ago : {{totalNumberOfIssuesInBetween}}</h3>
                    </div>
                </md-list-item>
                <md-list-item class="md-2-line">
                    <div class="md-list-item-text" layout="column">
                        <h3>Total Number of Issues created more than 7 days ago : {{totalNumberOfIssuesSevenDaysAgo}}</h3>
                    </div>
                </md-list-item>

               </md-list>
            </md-card-content>
        <md-card>

    </div>
    <div flex="20">

    </div>
</div>
